* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("../assets/background/background.png");
}

.gameboy_box {
  position: relative;
  border-top: solid #5f57c2 3px;
  border-right: solid #5f57c2 3px;
  border-bottom: solid #5f57c2 3px;
  border-left: solid #2a8acd 3px;
  height: 83%;
  width: 24%;
  background-color: #5bd4fc;
  border-radius: 25px;
}

.gameboy_connector {
  position: absolute;
  background-color: #5bd4fc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: -2.25vh;
  left: 85%;
}

.gameboy_connector .top {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top: solid #5f57c2 3px;
  border-left: solid #5f57c2 3px;
  border-right: solid #5f57c2 3px;
  height: 1.95vh;
  width: 2vw;
}

.gameboy_connector .bottom {
  height: 3vh;
  width: 2vw;
}

.gameboy_box img {
  position: relative;
  margin-left: -25vw;
  z-index: 1;
}

.side_buttons {
  top: 16%;
  right: -3%;
  position: absolute;
  height: 80vh;
  width: 0.5vw;
}

.button_bottom {
  border: solid 1px black;
  height: 7vh;
  margin-top: 5vh;
  background-color: #a05fd7;
}

.button_top {
  border: solid 1px black;
  height: 7vh;
  background-color: #a05fd7;
}

#long_line {
  position: absolute;
  padding: 5px;
  background-color: #279ffd;
  top: 5%;
  width: 85%;
  left: -3%;
  border-top: solid #2a8acd 2px;
  border-bottom: solid #2a8acd 2px;
  border-right: solid #2a8acd 2px;
}

#short_line {
  position: absolute;
  padding: 5px;
  background-color: #279ffd;
  top: 5%;
  left: 89%;
  width: 5%;
  border-top: solid #2a8acd 2px;
  border-bottom: solid #2a8acd 2px;
  border-right: solid #2a8acd 2px;
  border-left: solid #2a8acd 2px;
}

#screenframe {
  width: 18.5vw;
  height: 29.5vh;
  background-color: #279ffd;
  border-radius: 25px;
  position: relative;
  margin-top: -75vh;
  margin-left: 2.5vw;
}

#loading_screen {
  width: 15vw;
  height: 24.5vh;
  border: solid black 3px;
  background-color: #d863c8;
  position: relative;
  margin-top: -27.55vh;
  margin-left: 4.05vw;
  z-index: 3;
}
